<button (click)="back()">Go Back</button>
<h2>Login</h2>
<div class="authen-group">
  <div><input #username value="luongr3@gmail.com"/></div>
  <div><input type="password" #password value="luongr3A4"/></div>
  <button (click)="login(username.value, password.value)">Login</button>
</div>
