<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <li>
    <h2><a rel="noopener" routerLink="">Dashboard</a></h2>
  </li>
  <li>
    <h2><a rel="noopener" routerLink="/post">Post</a></h2>
  </li>
  <li>
    <h2><a rel="noopener" routerLink="/login">Login</a></h2>
  </li>
</ul>

<div style="text-align: center">
  <router-outlet></router-outlet>
</div>
